.navbar{
     
     
    margin-top: 0%;
    max-width: 100%;
    background-color: rgb(19, 19, 20);
     

} 
 .navbar-brand{
    
    font-family: 'Cedarville Cursive';
    font-size: 22px;
    color: white;
    font-weight: 300px; 
}  
.nav-item a{
    color: white;
}
.wrapper {
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }
  .navbar-brand{
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate-reverse;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid ;
    font-family: monospace;
    font-size: 1em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
 
    /* .navbar{
        color: rgba(236, 235, 225, 0.548);
        background-color: rgb(85, 85, 22);
      
      }
      .list-item-active {
        color: #f2f5f7 !important;
        border-radius: 15px;
        
      }
      .nav-item:hover{
        background-color: rgb(241, 232, 232);
        border-radius: 15px;
    
      } */