<!-- <div class="section " id="education">
  <div class="container">
    <div class="h4 text-center title ">Education</div>
    <div class="card mb-2">
      <div class="row">
        <div class="col-md-3 ed-heading text-center" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body  ">
            <h4>Btech</h4>
            <p>2016-2020</p>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body ed-description">
             <div class="h5">Bachelor Of Technology</div>
             <div class="category">Silicon Institute of Technology</div>
             <ul>
                <li><p>Completed BTech in Computer science and Engineering with 8.01CGPA</p></li>
             </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-2">
        <div class="row">
          <div class="col-md-3 ed-heading text-center" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body  ">
              <h4>Higher Secondary</h4>
              <p>2014-2016</p>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body ed-description">
               <div class="h5">Higher Secondary</div>
               <div class="category">Sri Chaitanya IIT Academy</div>
               <ul>
                  <li><p> </p></li>
               </ul>
            </div>
          </div>
        </div>
        
      </div>
      <div class="card  mb-2">
        <div class="row">
          <div class="col-md-3 ed-heading text-center" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body  ">
              <h4>Matriculation</h4>
              <p>2013-2014</p>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body ed-description">
               <div class="h5">Matriculation</div>
               <div class="category">RamaKrishna Public School </div>
               
            </div>
          </div>
        </div>
        
      </div>
  </div>
</div> -->

<!-- <div class="content-area" id="education">
  <div class="content">
    <div class="container">
    <div class="h4 text-center"><h2>Education</h2></div>
   
      <div class="card mb-2">
        <div class="row">
          <div class="col-md-3 ed-name" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body" style="color: white; text-align: center">
                <h4 style="margin-top: 30px;">Btech</h4>
                <p>2016-2020</p>
            </div>
          </div>

          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body" >
                <div class="h5"><h4>Bachelor Of Technology</h4></div>
                <div class="category">Silicon Institute of Technology</div>
                <ul>
                    <li>SiliconTech is an autonomous institute which has a NAAC Grade A accreditation.</li>
                   <li style="margin-top: 1px;">Completed BTech in Computer science and Engineering with 8.01CGPA</li>
                   <li><a href="https://silicon.ac.in/">https://silicon.ac.in/</a></li>
                </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-2">
        <div class="row">
          <div class="col-md-3 ed-name" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body" style="color: white;text-align:center;align-items:center">
                <h4>Higher Secondary</h4>
                <p>2014-2016</p>
            </div>
          </div>

          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
                <div class="h5">Higher Secondary</div>
                <div class="category">Sri Chaitanya IIT Academy</div>
                <ul>
                   <li>Secured 93% in Higher Secondary.</li>
                   <li>It mainly focuses on bases of Maths,Physics and Chemistry</li>
                   <li>Completed in 2016</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-2">
        <div class="row">
          <div class="col-md-3 ed-name" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body" style="color: white;align-items:center;text-align:center;">
                <h4>Matriculation</h4>
                <p>2013-2014</p>
            </div>
          </div>

          <div class="col-md-9">
            <div class="card-body" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="h5">Matriculation</div>
                <div class="category">RamaKrishna Public School </div>
                <ul>
                    <li>Completed Matriculation with 87%.</li>
                    <li>It mainly aims at Maths,Science,English and Social Studies.</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="education-area">
  <div class="container">
    <div class="main-heading "><h5>Education</h5></div>
    <div class="card mb-2">
      <div class="row">
        <div class="col-md-3 ed-heading"   style="color: white;align-items:center;text-align:center;" data-aos="fade-right">
          <div class="card-body " >
            <h4 style="margin-top: 30px;">Btech</h4>
                <p>2016-2020</p>
          </div>
        </div>
        <div class="col-md-9"  data-aos="fade-down">
          <div class="card-body">
            <div class="h5"><h4>Bachelor Of Technology</h4></div>
                <div class="category">Silicon Institute of Technology</div>
                <ul>
                    <li>SiliconTech is an autonomous institute which has a NAAC Grade A accreditation.</li>
                   <li style="margin-top: 1px;">Completed BTech in Computer science and Engineering with 8.01CGPA</li>
                   <li><a href="https://silicon.ac.in/">https://silicon.ac.in/</a></li>
                </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-2">
        <div class="row">
          <div class="col-md-3 ed-heading"  style="color: white;align-items:center;text-align:center;" data-aos="fade-right">
            <div class="card-body "  >
                <h4>Higher Secondary</h4>
                <p>2014-2016</p>
            </div>
          </div>
          <div class="col-md-9"  data-aos="fade-down">
            <div class="card-body">
                <div class="h5">Higher Secondary</div>
                <div class="category">Sri Chaitanya IIT Academy</div>
                <ul>
                   <li>Secured 93% in Higher Secondary.</li>
                   <li>It mainly focuses on bases of Maths,Physics and Chemistry</li>
                   <li>Completed in 2016</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-2">
        <div class="row">
          <div class="col-md-3 ed-heading"  style="color: white;align-items:center;text-align:center;"data-aos="fade-right">
            <div class="card-body ">
                <h4>Matriculation</h4>
                <p>2013-2014</p>
            </div>
          </div>
          <div class="col-md-9"  data-aos="fade-down" >
            <div class="card-body">
                <div class="h5">Matriculation</div>
                <div class="category">RamaKrishna Public School </div>
                <ul>
                    <li>Completed Matriculation with 87%.</li>
                    <li>It mainly aims at Maths,Science,English and Social Studies.</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
