 <div class="conact mb-4" id="contact me">
    <div class="content-area">
        <div class="content text-center">
            <div class="container">
            <div class="row text-center">
                <div class="col-md-12 text-center" data-aos="zoom-in">
                    <div class="heading text center"><h3>Contact Me</h3></div>
                    <div class="card text-center">
                        <div class="row">
                         <div class="col-md-6" >
                            <div class="card-body">
                                
                                <form>
                                    <div class="form-group">
                                      <label for="exampleInputEmail1">Name</label>
                                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name"  >
                                    </div>
                                    <div class="form-group">
                                      <label for="exampleInputPassword1">Subject</label>
                                      <input type="subject" class="form-control" id="exampleInputPassword1" placeholder="Subject">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Email</label>
                                        <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Enter Email Id">
                                      </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                  </form>
                            </div>
                         </div>
                         <div class="col-md-6">
                            <div class="card-body">
                                <p class="mb-0">
                                    <strong>Phone</strong>
                                </p>
                                <p class="pb-2">+91 7735832203</p>
                                <p class="mb-0">
                                    <strong>Email</strong>
                                </p>
                                <p>harishatla@gmail.com</p>
                            </div>
                         </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

 </div>
