<!-- <div class="profile-page ">
  <div class="wrapper">
     
    <div class="page-header page-header-small" filter-color="green">
      <div
        class="page-header-image  "
       
      >
        <div class="container">
          <div class="col-md-12">
            <div class="content-center">
              <div class="cc-profile-image text-center">
                <a href="#">
                  <img
                    src="assets/images/Atla_harish_photo.jpeg"
                  />
                </a>
              </div>
              <h1 class="title text-center " style="color: white">
                Atla Harish
              </h1>
              <p class="text-center" style="color: white; ">Software Developer</p>
              <div class="buttons text-center">
                <a class="btn   text-center mr-2" style="margin-top: 2px;" href="#contact"
                  >Hire Me</a
                >
                <a class="btn   text-center" href="#contact"
                  >Download CV</a
                >
              </div>
            </div>
            <div class="section">
              <div class="container">
                <div class="button-container">
                  <a
                    class="btn btn-default btn-round btn-lg btn-icon"
                    href=" "
                    target="_blank"
                    rel="tooltip"
                    title="Follow me on Facebook"
                  >
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a
                    class="btn btn-default btn-round btn-lg btn-icon"
                    href=" "
                    target="_blank"
                    rel="tooltip"
                    title="Follow me on Instagram"
                  >
                    <i class="fa fa-instagram"></i>
                  </a>
                  <a
                    class="btn btn-default btn-round btn-lg btn-icon"
                    href=" "
                    target="_blank"
                    rel="tooltip"
                    title="Follow me on Linkedin"
                  >
                    <i class="fa fa-linkedin"></i>
                  </a>
                  <a
                    class="btn btn-default btn-round btn-lg btn-icon"
                    href=" "
                    target="_blank"
                    rel="tooltip"
                    title="Follow me on Github"
                  >
                    <i class="fa fa-github"></i>
                  </a>
                  <a
                    class="btn btn-default btn-round btn-lg btn-icon"
                    href=" "
                    target="_blank"
                    rel="tooltip"
                    title="Follow me on Twitter"
                  >
                    <i class="fa fa-twitter"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 
  -->
<div class="banner-area">
  <div class="content-area">
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="profile-pic" data-aos="zoom-in">
            <a href="#">
              <img src="assets/images/Atla_harish_photo-removebg-preview (1).png" />
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <div class="name">
                <div class="typing-text">
                    <h2>Atla Harish</h2>
                    <p>Software Engineer</p>
                </div>
            </div>
            <div class="button-cv-hireme">
                <a href="#contact me" class="btn  ">Hire me</a>
                <a href="" class="btn  ">Download CV</a>
            </div>
            <div class="social-media">
                <a
                    class="btn  "
                    href="https://www.facebook.com/Harishatla"
                    target="_blank"
                    rel="tooltip"
                    title="Follow me on Facebook"
                  >
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a
                    class="btn  "
                    href="https://www.instagram.com/harishatla"
                    target="_blank"
                    rel="tooltip"
                    title="Follow me on Instagram"
                  >
                    <i class="fa fa-instagram"></i>
                  </a>
                  <a
                    class="btn  "
                    href="https://www.linkedin.com/in/atla-harish-462889147"
                    target="_blank"
                    rel="tooltip"
                    title="Follow me on Linkedin"
                  >
                    <i class="fa fa-linkedin"></i>
                  </a>
                  <a
                    class="btn  "
                    href="https://github.com/harishatla"
                    target="_blank"
                    rel="tooltip"
                    title="Follow me on Github"
                  >
                    <i class="fa fa-github"></i>
                  </a>
                  <a
                    class="btn  "
                    href="https://www.twitter.com/HarishAtla"
                    target="_blank"
                    rel="tooltip"
                    title="Follow me on Twitter"
                  >
                    <i class="fa fa-twitter"></i>
                  </a>

            </div>
        </div>
      </div>
    </div>
  </div>
   
</div>
