<div class="section" id="about">
    <div class="container">
        <div class="heading text-center " style="margin-top: 5px;" data-aos="fade-right" offset="120"><h2>About</h2></div>
      <div class="card "  data-aos="fade-right" offset="120">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <div class="about" style="margin-top: 20px;">
                <ul>
                   <li>Software Developer with 1.5years of experience.</li>
                    <li>Expertise in Angular 11,HTML,CSS Bootstrap,TypeScript and AWS.</li>
                    <li>Worked with Agile Methodology.</li>
                    <li>Part of AI Innovation Team.</li>
                </ul>
              </div>
                 <p>Developed Various SRE Dashboards as per client requirments.Successfully integrated AWS lex chatbot and AWS quicksight Dashboards in angular application.</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title text">Basic Information</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date of Birth:</strong>
                </div>
                <div class="col-sm-8">May 31, 1997</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">harishatla@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">+91 7735832203</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Address:</strong>
                </div>
                <div class="col-sm-8">P.R Peta 2nd Lane jeypore odisha 764001
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Language:</strong>
                </div>
                <div class="col-sm-8">Telugu,English,Hindi,Odiya</div>
              </div>
            </div>
          </div>
        </div>
      </div>
 
    </div>
  </div>

